li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 1.2em;
}

li a:hover {
    background-color: ghostwhite;
    font-size: 1.2em;
}

h1 {
    font-family: 'Lora', serif;
    color: wheat;


}

h2 {
    font-family: 'Alegreya', serif;
    color: wheat;
    font-size: 1.6em;
}

h3,
h4,
p {
    font-family: 'Alegreya', serif;
    color: black;

}

p {
    font-size: 1.2em;
}



html {
    color: black;
    font-size: 1em;
    line-height: 1.4;
    font-family: 'Alegreya', serif;

}

body {
    max-width: 2000px;
    margin: 0 auto;
    background-color: white;



}

img {
    width: 100%;




}

/*CV billed*/

.circle {

    border-radius: 20%;


}

/* Navigation */

nav ul {
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    list-style: none;
    padding-left: 40%;
    overflow: hidden;
    background-color: white;
    text-align: center;

}

nav ul li {
    position: relative,sticky;
    padding-right: 2em;

}

.dropdown > ul {
    display: none;
    position: absolute;
    background-color: white;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    padding: 12px 16px;
    z-index: 1;
    padding: 1em;
}

.dropdown > ul li {
    white-space: nowrap;
    padding: 0 2em;
}

.dropdown:hover > ul {
    display: block;
}


/* prototype zoom*/

figure.zoom {
    background-position: center;
    position: relative;
    width: 100%;
    overflow: hidden;
    cursor: zoom-in;
}

figure.zoom img:hover {
    opacity: 0;
}

figure.zoom img {
    transition: opacity 2s;
    display: block;

}

/*Arts and Crafts*/

* {
    box-sizing: border-box
}

.ac {
    position: relative;
    width: 100%;
}

.hjemmeside {
    display: block;
    width: 100%;
    height: auto;
}

.pop {
    position: absolute;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    color: black;
    width: 100%;
    transition: 2s ease;
    opacity: 0;
    color: pink;
    font-size: 20px;
    padding: 30px;
    text-align: center;
}

.ac:hover .pop {
    opacity:1;
}



/* privatsnak*/

* {
    box-sizing: border-box
}

.pvs {
    position: relative;
    width: 100%;
}

.pic {
    display: block;
    width: 100%;
    height: auto;
}

.sc {
    position: absolute;
    bottom: 0;
    background-color: lightyellow;
    color: black;
    width: 100%;
    transition: 2s ease;
    opacity: 0;
    color: black;
    font-size: 50px;
    padding: 20px;
    text-align: center;
}

.pvs:hover .sc {
    opacity:2;
}

/*Tema3: CPHDOX*/

* {
    box-sizing: border-box
}

.everyday {
    position: relative;
    width: 100%;
}

.screen {
    display: block;
    width: 100%;
    height: auto;
}

.klik {
    position: absolute;
    bottom: 0;
    background-color: black;
    background: rgba(0, 0, 0, 0.9);
    color: black;
    width: 100%;
    transition: 2s ease;
    opacity: 0;
    color: red;
    font-size: 50px;
    padding: 20px;
    text-align: center;
}

.everyday:hover .klik {
    opacity:3;
}

/*Tema3: Kilhof*/

* {
    box-sizing: border-box
}

.kilhof {
    position: relative;
    width: 100%;
}

.image {
    display: block;
    width: 100%;
    height: auto;
}

.over {
    position: absolute;
    bottom: 0;
    background-color: white;
    background: rgba(0, 0, 0, 0.3);
    color: black;
    width: 100%;
    transition: 2s ease;
    opacity: 0;
    color: red;
    font-size: 50px;
    padding: 20px;
    text-align: center;
}

.kilhof:hover .over {
    opacity: 3;
}

/*tema 4*/

* {
    box-sizing: border-box
}

.container {
    position: relative;
    width: 100%;

}

.image {
    display: block;
    width: 100%;
    height: auto;
}


.overlay {
    position: absolute;
    bottom: 0;
    background-color: white;
    background: rgba(0, 0, 0, 0.5);
    color: #f1f1f1;
    width: 100%;
    transition: .5s ease;
    opacity: 0;
    color: white;
    font-size: 40px;
    padding: 20px;
    text-align: center;
}


.container:hover .overlay {
    opacity: 3;
}


/*main page*/


.row {
  display: flex;
  flex-wrap: wrap;
  padding: 40px;
}

.column {
  flex: 50%;
  padding: 2px;
}

.column img {
  margin-top: 2px;
  vertical-align:middle;
}
